*{
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}
body{
   background-color: #f5f5f5;
   overflow:scroll;
}

.main-body{
   max-width: 80vh;
   height:35vh;
   object-fit: cover;
}
img{
   border-radius: 10px;
   width: 25%;
   height: 30vh;
   object-fit: contain;

}
.dashboard{
   height:100px;
}
.box{
   height: 200vh;
   margin-bottom: 0;
   
}
#table{
   overflow-x: scroll;
  overflow-y: scroll;
}

header {
   background: #522  ;
   height: 66px;
 }
 .admin{
   background:   rgb(121, 64, 64);
   left:0;
   height: 90vh;
 }
 
 header * {
   color: white;
 }
 
 header .logo {
   float: left;
   height: inherit;
   margin-left: 2em;
 }
 
 header .logo-text {
   margin: 9px;
   font-family: 'Candal', serif;
 }
 
 header .logo-text span {
   color: #05f7ff;
 }
 
 header ul {
   float: right;
   margin: 0px;
   padding: 0px;
   list-style: none;
 }
 
 header ul li {
   float: left;
   position: relative;
 }
 
 header ul li ul {
   position: absolute;
   top: 66px;
   right: 0px;
   width: 180px;
   display: none;
   z-index: 88888;
 }
 
 header ul li:hover ul {
   display: block;
 }
 
 header ul li ul li {
   width: 100%;
 }
 
 header ul li ul li a {
   padding: 10px;
   background: white;
   color: #444;
 }
 
 header ul li ul li a.logout {
   color: red;
 }
 
 header ul li ul li a:hover {
   background: #d5d6d6;
 }
 
 header ul li a {
   display: block;
   padding: 21px;
   font-size: 1.1em;
   text-decoration: none;
 }
 
 header ul li a:hover {
   background: #006669;
   transition: 0.5s;
 }
 
 header .menu-toggle {
   display: none;
 }
 
 .page-wrapper {
   min-height: 100%;
 }
 
 .page-wrapper a:hover {
   color: #006669;
 }
 .list-group s> li{
   list-style-type: none;
 }